USE [master]
GO
/****** Объект:  Database [pensil_shop]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
CREATE DATABASE [pensil_shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pensil_shop', FILENAME = N'C:\Program Files\MSSQL17.MSSQLSERVER\MSSQL\DATA\pensil_shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pensil_shop_log', FILENAME = N'C:\Program Files\MSSQL17.MSSQLSERVER\MSSQL\DATA\pensil_shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pensil_shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pensil_shop]
GO
/****** Объект:  Table [dbo].[Category]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Manufacturer]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Office]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Office](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Office] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Order]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[OfficeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[ReceiveCode] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderProduct]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Product]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Articul] [nvarchar](max) NOT NULL,
	[ProductNameId] [int] NOT NULL,
	[UnitOfMeasurementId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[MaxDiscount] [int] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ProductName]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductName](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ProductName] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Role]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Status]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Supplier]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[UnitOfMeasurement]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasurement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UnitOfMeasurement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[User]    Дата создания скрипта: 14.05.2026 23:15:43 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Школьные пренадлежности')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Школьные принадлежности')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Для офиса')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([Id], [Name]) VALUES (1, N'Pilot')
INSERT [dbo].[Manufacturer] ([Id], [Name]) VALUES (2, N'Attache')
INSERT [dbo].[Manufacturer] ([Id], [Name]) VALUES (3, N'Unimax')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Office] ON 

INSERT [dbo].[Office] ([Id], [Address]) VALUES (1, N'344288, г. Тихорецк, ул. Чехова, 1')
INSERT [dbo].[Office] ([Id], [Address]) VALUES (2, N'614164, г.Тихорецк,  ул. Степная, 30')
INSERT [dbo].[Office] ([Id], [Address]) VALUES (3, N'394242, г. Тихорецк, ул. Коммунистическая, 43')
SET IDENTITY_INSERT [dbo].[Office] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [Date], [DeliveryDate], [OfficeId], [UserId], [Email], [ReceiveCode], [StatusId]) VALUES (1, CAST(N'2022-05-18' AS Date), CAST(N'2022-05-24' AS Date), 3, 7, N'5d4zbu@tutanota.com', 311, 1)
INSERT [dbo].[Order] ([Id], [Date], [DeliveryDate], [OfficeId], [UserId], [Email], [ReceiveCode], [StatusId]) VALUES (2, CAST(N'2022-05-19' AS Date), CAST(N'2022-05-25' AS Date), 4, 8, N'ptec8ym@yahoo.com', 312, 2)
INSERT [dbo].[Order] ([Id], [Date], [DeliveryDate], [OfficeId], [UserId], [Email], [ReceiveCode], [StatusId]) VALUES (3, CAST(N'2022-05-20' AS Date), CAST(N'2022-05-26' AS Date), 5, 5, N'tjde7c@yahoo.com', 313, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderProduct] ON 

INSERT [dbo].[OrderProduct] ([Id], [OrderId], [ProductId], [Amount]) VALUES (1, 1, 1, 10)
INSERT [dbo].[OrderProduct] ([Id], [OrderId], [ProductId], [Amount]) VALUES (2, 2, 2, 10)
INSERT [dbo].[OrderProduct] ([Id], [OrderId], [ProductId], [Amount]) VALUES (3, 3, 4, 10)
SET IDENTITY_INSERT [dbo].[OrderProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Articul], [ProductNameId], [UnitOfMeasurementId], [Price], [MaxDiscount], [ManufacturerId], [SupplierId], [CategoryId], [Discount], [Stock], [Description], [Photo]) VALUES (1, N'А112Т4', 1, 1, CAST(12.00 AS Decimal(18, 2)), 30, 1, 1, 1, 2, 6, N'Ручка шариковая с синими чернилами,толщина стержня 7 мм', N'А112Т4.jpg')
INSERT [dbo].[Product] ([Id], [Articul], [ProductNameId], [UnitOfMeasurementId], [Price], [MaxDiscount], [ManufacturerId], [SupplierId], [CategoryId], [Discount], [Stock], [Description], [Photo]) VALUES (2, N'A346R4', 2, 1, CAST(35.00 AS Decimal(18, 2)), 20, 2, 1, 2, 3, 23, N'Ручка шариковая автоматическая с синими чернилами, диаметр шарика 0,9 мм', N'A346R4.jpg')
INSERT [dbo].[Product] ([Id], [Articul], [ProductNameId], [UnitOfMeasurementId], [Price], [MaxDiscount], [ManufacturerId], [SupplierId], [CategoryId], [Discount], [Stock], [Description], [Photo]) VALUES (3, N'T564P5', 3, 2, CAST(50.00 AS Decimal(18, 2)), 15, 2, 1, 2, 9, 3, N'Набор шариковых ручек одноразовых Attache Economy Spinner 10 цветов (толщина линии 0.5 мм)', N'T564P5.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductName] ON 

INSERT [dbo].[ProductName] ([Id], [Name]) VALUES (1, N'Ручка шариковая')
INSERT [dbo].[ProductName] ([Id], [Name]) VALUES (2, N'Ручка шариковая автоматическая')
INSERT [dbo].[ProductName] ([Id], [Name]) VALUES (3, N'Набор шариковых ручек одноразовых')
SET IDENTITY_INSERT [dbo].[ProductName] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Авторизированный клиент')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Name]) VALUES (1, N'Новый ')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (2, N'Завершен')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [Name]) VALUES (1, N'Комус')
INSERT [dbo].[Supplier] ([Id], [Name]) VALUES (2, N'Буквоед')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitOfMeasurement] ON 

INSERT [dbo].[UnitOfMeasurement] ([Id], [Name]) VALUES (1, N'шт.')
INSERT [dbo].[UnitOfMeasurement] ([Id], [Name]) VALUES (2, N'уп.')
SET IDENTITY_INSERT [dbo].[UnitOfMeasurement] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [RoleId], [FullName], [Login], [Password]) VALUES (1, 1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[User] ([Id], [RoleId], [FullName], [Login], [Password]) VALUES (2, 1, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[User] ([Id], [RoleId], [FullName], [Login], [Password]) VALUES (3, 1, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
